* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: unset;
	box-sizing: border-box;
}

body {
	/* font-family: 'Merriweather', serif; */
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 20px; 
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 30px;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Merriweather";
	outline: none;
}

h1 {
	font-size: 2.4rem;
	line-height: 2.4rem;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}

h3 {
	font-size: 1rem;
	line-height: 1rem;
}

.gradient {
	background: rgb(73,139,105);
	background: -moz-linear-gradient(180deg, rgba(73,139,105,1) 0%, rgba(101,194,139,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(73,139,105,1) 0%, rgba(101,194,139,1) 100%);
	background: linear-gradient(180deg, rgba(73,139,105,1) 0%, rgba(101,194,139,1) 100%);
}

.button {
	background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
}

.button.icon-button {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.background-primary {
	background: rgb(73,139,105);
	color: #fff;
}

.background-secondary {
	background: rgba(101,194,139,1);
	color: #fff;
}

.gradient-shadowed {
	box-shadow: 0 35px 38px #64c08a5c;
}

.margin-unset {
	margin: unset;
}

.margin-bottom-small {
	margin-bottom: 16px;
}

.margin-top-auto {
	margin-top: auto;
}

main {
	max-width: 100vw;
    overflow-x: hidden;
}

.menu {
	height: 100%;
	position: absolute;
	background: rgb(26, 26, 26);
	color: #fff;
	width: 80%;
	z-index: 555;
	transform: translateX(-101%);
	transition: 300ms;
}

.content {
	transition: 300ms;
}
.content.active {
	transform: translateX(80%);
}

.menu.active {
	transform: translateX(-0%);
}